*{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", sans-serif;
}

body {
  text-align: center;
  height: auto;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

header {
  height: 100px;
  background: #5b83ad;
  width: 100%;
  position: relative;
}

.logo{
  width: 25%;
  height: 70px;
  position: relative;
}

.dividers {
  color: #fff;
  font-size: 20px;
}

.white-bar {
  top: 100px;
  width: 100%;
  position: fixed;
  background: white;
  height: 40px;
}


.content-area {
  color: #5b83ad;
  width: 100%;
  position: relative;
  top: 100px;
  background: white;
  height: auto;
  padding: 50px;

}

.content-area h1 {
  color: #5b83ad;
  letter-spacing: 0px;
  font-size: 3vw;
  padding-bottom: 20px;

}

.content-area h2 {
  color: #5b83ad;
  letter-spacing: 0px;
  font-size: 2vw;
}

.content-area h3 {
  color: #5b83ad;
  letter-spacing: 0px;
  font-size: 1vw;
  padding-bottom: 10px;
}

.content-area h5 {
  color: #ad0c1a;
  letter-spacing: 0px;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

.content-area p {
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-family: Arial, serif;
  line-height: 2.5vw;
  font-size: 1.5vw;
  margin-right: 15%;
  margin-left: 15%;
  text-align: justify;

}

.bar{
  height: 40px;
  margin-top: 15px;
  margin-right: 20px;
  background: #b4b0b2;
  width: 100%;
  position: relative;
}

.wishbar{
  border: black;
  color: white;
  padding: 20px 20px 20px;
  font-size: 15px;
}

.share{
  background-color:white;
  width: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000000;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.share:hover{
  background-color: #5b83ad;
  color: white;
}
.column{
  height: 300px;
}

* {
  box-sizing: border-box;
}

.signup-fp{
  background-color:white;
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #5b83ad;
  padding: 5px 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 2px 1px;

}

.signup-fp:hover{
  color: #405c7a;
}

.signup{
  background-color: #5b83ad;
  color: white;
  width: 30%;
  border: 1px solid #5b83ad;
  border-radius: 10px;
  padding: 5px 15px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
}

.signup:hover{
  color: #2159e8;
}

.sign-up{
color: #0e1ca8;
  padding-top: 10px;
  font-size: 1vw;
}
.finish{
  background-color:#ccc;
  width: 10%;
  border: 1px solid #7f8389;
  border-radius: 10px;
  color: #000000;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20%;
  cursor: pointer;
}

.finish:hover{
  background-color: #7f8389;
}
.pnav{
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.5vw;
  color: white;

}

.pnav:hover{
  color: #6998c8;
}
nav {
  float: right;
  line-height: 10px;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.5vw;
  color: white;
}

nav a:hover{
  color: #6998c8;
}

.login{
  background-color: #5b83ad;
  color: white;
  width: 30%;
  padding: 5px;
  border: 1px solid #5b83ad;
  border-radius: 10px;
  margin: 15px;
  resize: vertical;
  cursor: pointer;
}

.login:hover{
  color: #2159e8;
}

input[type=text], select, textarea, input[type=name]{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  resize: vertical;
}

input[type=text], select, textarea, input[type=email] {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  resize: vertical;
}

input[type=text], select, textarea, input[type=password] {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  resize: vertical;
}

input[type=submit]:hover {
  background-color: #0e1ca8;
}

.checkbox{
  margin-right: 21%;
  padding-top: 1vw;
}

.contact-info {
  float: right;
  width: 25%;
}

.contact-info h2 {
  font-size: 1.2vw;
  padding-top: 0;
  text-transform: uppercase;
  color: #5b83ad;
}

.contact-info p{
  font-size: 1vw;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.4vw;
}

.footer {
  position: fixed;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  line-height: 30px;
  background-color: #5b83ad;
}

.footer p{
  color: white;
  font-size: 0.75vw;
  letter-spacing: 1px;
}