<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
<div th:fragment="seeWishlist">

<div>
    <div class="content-area">

<ul th:each="wish : ${wishlist}">
    <li>
        <div class="wishlist">
            <h2 class="wish-name" th:text="${wish.name}"></h2>
            <label for="wish-quantity"> Quantity: </label>
            <span class="wish-quantity" id="wish-quantity" th:text="${wish.quantity}"></span><br>
            <label for="wish-url"> Link: </label>
            <span class="wish-url" id="wish-url" th:text="${wish.url}"></span><br>
            <label for="wish-price">Price(kr): </label>
            <span class="wish-price" id="wish-price" th:text="${wish.price}"></span><br>
        </div>
    </li>
</ul>
    </div>
</div>
</div>
</body>
</html>