<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Frontpage</title>
  <link rel="stylesheet" href="frontpage.css">
</head>
<body>

<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>


<div class="white-bar"></div>
</div>

<div class="content-area">
  <div class="wrapper">
    <h2>Why Wishlist?</h2>
    <p>spar tid og undgå at købe uønsket gaver!</p>
  </div>
</div>


<div class="content-area">
  <div class="wrapper">
    <h2>SignUp now!</h2>
    <p>SignUp now and save 15% on your next order!</p>

    </form>
    <a href="/sign-up" class="button" methods="get"> Click here to sign up</a>

  </div>
</div>

<div class="noncontent-area-mid" style="height: 450px">
</div>




<div class="footer">
  <p> WISHLIST • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@WISHLIST.DK • TLF: +45 46 46 07 00 </p>
</div>
<!--footer.html  that's here  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

