<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>
<div class="content-area">
    <h1> Sorry, we couldn't recognize your account. Sign up here</h1>
    <form action="/sign-up" method="post">
        <div>
            <input type="name" class="form-control" name="name" id="name" placeholder="Name" autofocus required>
        </div>

        <div>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required>
        </div>

        <div>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>


        <button class="signup" type="submit">Create account</button>




    </form>

    <a href="/sign-in"> Try again</a>


</body>
</html>