<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
    <!--header.html  that's here  -->
    <div th:replace="fragments/header :: header">
    </div>
    <div class="content-area">
        <form action="change-password" method="post">
            <div>
            <input type="password" class="form-control" name="current-password"
                   placeholder="Enter current password" autofocus required>
            </div>
            <div>
                <input type="password" class="form-control" name="new-password"
                       placeholder="Enter new password" autofocus required>
            </div>
            <div>
                <button class=signup type="submit">Confirm password change</button>
            </div>
        </form>
    </div>
</body>
</html>