<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>
<div class="bar" >

        <a href="/return-frontPage" class="wishbar" methods="get"> Return </a>
        <a href="/deleteWishList" class="wishbar" methods="get"> Delete list</a>
        <a href="/wish-list" class="wishbar" methods="get"> Add wishes</a>
        <a href="/share-list" class="wishbar" methods="get"> Share list </a>
</div>
<div>
    <div class="content-area">

<ul th:each="wish : ${wishlist}">
    <li>
        <div class="wishlist">
            <h2 class="wish-name" th:text="${wish.name}"></h2>
            <label for="wish-quantity"> Quantity: </label>
            <span class="wish-quantity" id="wish-quantity" th:text="${wish.quantity}"></span><br>
            <label for="wish-url"> Link: </label>
            <span class="wish-url" id="wish-url" th:text="${wish.url}"></span><br>
            <label for="wish-price">Price(kr): </label>
            <span class="wish-price" id="wish-price" th:text="${wish.price}"></span><br>
        </div>
    </li>
</ul>



</div>

</body>
</html>