<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
       <meta charset="UTF-8">
       <title>Title</title>
       <link rel="stylesheet" href="primarystyle.css">
    </head>
        <body>
            <!--header.html  that's here  -->
            <div th:replace="fragments/header :: header">
            </div>
            <div class="content-area">
                <h1>User info successfully changed</h1>
                <a href="" class="signup">Click here to return to the homepage</a>
            </div>
        </body>
</html>