<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




  <p> What do you want to change? </p>
  <div>
    <form action="/change-user-name" method="get">
<button type="submit"> Username </button>
    </form>
 </div>

  <div>
      <form action="/change-password" method="get">
          <button type="submit"> Password </button>
      </form>
  </div>

  <div>
      <form action="/change-email" method="get">
          <button type="submit"> Email </button>
      </form>
  </div>


  <div>
      <form action="/share-list" method="get">
          <button type="submit"> Share list </button>
      </form>
  </div>


  <div>
      <form action="/seeSharedWish" method="get">
          <button type="submit"> Want to see if someone shared their list? </button>
      </form>
  </div>






</body>
</html>