<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
        <!--header.html  that's here  -->
        <div th:replace="fragments/header :: header"></div>
        <div class="content-area">
             <h2> What do you want to change? </h2>
            <div>
                <form action="change-user-name" method="get">
                    <button class="login" type="submit"> Username </button>
                </form>
            </div>

            <div>
                <form action="change-password" method="get">
                    <button class="login" type="submit"> Password </button>
                </form>
            </div>

            <div>
                <form action="change-email" method="get">
                    <button class="login" type="submit"> Email </button>
                </form>
            </div>
        </div>
</body>
</html>