<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   <h1>  create wish </h1>

   <form action="/sign-in-saved" method="post">

       <input type="wish1" class="form-control" name="wish1" id="wish1" placeholder="wish1" autofocus required>

       <input type="wish2" class="form-control" name="wish2" id="wish2" placeholder="wish2" required>

       <input type="wish3" class="wish3" name="wish3" id="wish3" placeholder="wish3"
              required>


       <button class="saveWish" type="submit">Save</button>

</body>
</html>