<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>  Add wish </h1>


<form action="wish-saved" method="post">

    <input type="text" class="form-control" name="nameWish" id="nameWish" placeholder="Name" autofocus required>

    <input type="text" class="form-control" name="price" id="price" placeholder="Price" required>

    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="How many" required>

    <input type="text" class="form-control" name="linkToWish" id="linkToWish" placeholder="Insert link to wish"
           required>
    <button class="saveWish" type="submit">Save</button>
</form>


<form action="see-wishlist" method="get">
    <button type="submit"> Finish </button>
</form>

<p> Sorry, something went wrong. Remember to insert numbers in the "Price" and "How many" textboxes </p>

</body>
</html>